<div class="header">
	<div class="branding">
		<div class="logo"></div>
		<div class="sub-logo"></div>
	</div>
	<div class="menu">
		<ul>
			<li>Home</li>
			<li>Fiction</li>
			<li>Culture</li>
		</ul>
	</div>
</div>
