<div class="themebar">
	<div class="row">
		<div class="small-12 column">
			<div class="menu">
				<ul>
					<li><a href="/themes/startup/">Startup</a></li>
					<li><a href="/pricing/">Pricing</a></li>
					<li><a href="/docs/">Documentation</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
