@import 'grid/breakpoints';
@import 'grid/grid';
@import 'prism';
      
  // Must be 100% for off canvas to work
html, body { height: 100%; }

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,

// Default body styles
body {
  margin: 0;
  padding: 0;
  position: relative;
}